{% extends 'photoeditor/base.html' %}

{% block content %}





    <div class="row">

        {% if existing_photo %}
            <div class="col-md-6 p-3 mt-5" style="background-color:rgb(255, 255, 255); color:black; font-size:22px; text-align:center;">
        
                <img style="width: 100%;" src="{{ existing_photo.url }}">

                <a style="font-size: 20px; text-decoration:none; color:#000000;" href="{{ existing_photo.url }}" download>
                    <div class="mt-2 py-1" style="background-color:#0fe7b8;">Download This Image</div>
                </a>

            </div>
        {% endif %}


        <div class="col-md-6 p-3 mt-5" style="background-color:rgb(255, 247, 238); color:rgb(0, 0, 0); font-size:22px;">

            <div style="background-color: rgb(255, 255, 255);" class="p-3">
                <h1 style="text-shadow: 1px 1px 1px rgb(255, 255, 255); font-family: 'Lobster Two', cursive; font-weight:bold;">Photo Editor</h1>

                <span>
                Make changes to your photo using the options below and clicking the Save Changes button:
                </span>

                    <br><br>

                    <!-- form -->
                    <form class="form-check form-switch" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        Brightness {{ form.brightness }}
                        <br>
                        Darken {{ form.darken }}
                        <br>
                        Contrast {{ form.contrast }}
                        <br>
                        Sharpness {{ form.sharpness }}
                        <br>
                        Blur {{ form.blur }}
                        <br>
                        Flip Left/Right {{ form.flip_left_right }}
                        <br>
                        Flip Top/Bottom {{ form.flip_top_bottom }}
                        <br>
                        Smoothness {{ form.smoothness }}
                        <br>
                        More Color {{ form.more_color}}
                        <br>
                        Less Color {{ form.less_color }}
                        <br>
                        <div class="mt-4">
                            <button style="font-size:19px;" class="btn btn-primary" type="submit">Save Changes</button>
                            
                            <a style="font-size:19px;" class="btn btn-success" href="{% url 'photoeditor' %}">Edit Another Photo</a>
                        </div>
                    </form>
                </div>
        </div>


        <div class="col-md-12 p-3" style="font-size:18px; background-color:rgb(53, 53, 53);; color:#ffffff; font-family: 'Pacifico', cursive; text-align:center;">
            Designed and Developed By <span style="color:#f3e847; font-family: 'Carrois Gothic SC', sans-serif; font-size:20px;"><b>Gbenga Ogunkuade</b></span>
        </div>


    </div>



{% endblock %}